/*Colores*/
:root{
    --primario: #11009E;
    --secundario: #8696FE;
    --azulElec: #4942E4;
    --fondo: #C4B0FF;
}

body{
    background-color: var(--fondo);
}

.custom-border {
    border: 3px solid var(--secundario);
}

.boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    border: none;
    font-size: 20px;
   
}

.boton i {
    font-size: 47px;
    height: 30px;
    color: black;
    display: flex;
            justify-content: center;
            align-items: center;
}