@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color:#1b5cac;
}

.main-title{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
}

.todo-title{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
}

.card-title{
    color: rgb(23, 22, 22);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;
}

.texto{
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
}

.custom-container-primary-section{
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  border: 1px solid #1e699b; /* Color de borde gris */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #237fbd; /* Sombra de fondo */
}
.custom-container-cards-todo{
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  border: 1px solid #62439b; /* Color de borde gris */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #794ad0; /* Sombra de fondo */
}

.custom-container-cards-in-process{
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  border: 1px solid  #d89639; /* Color de borde gris */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color:  #f7a93d; /* Sombra de fondo */
}

.custom-container-cards-done{
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  border: 1px solid  #138f57 ; /* Color de borde gris */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color:  #0fbb6e ; /* Sombra de fondo */
}

.sections-titles{
  color: white;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.6rem;
}

.icon-plus{
  font-size: 1rem;
  font-weight: 600;
}

.carta{
  background-color:rgb(215, 215, 215);
  border: 1px solid  rgb(175, 174, 174) ; /* Color de borde gris */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
}


.boton {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(44, 37, 51);
    color: white;
    border: none;
    font-size: 20px;
    margin: 10px;
}

.boton i {
    font-size: 47px;
    height: 30px;
    color: rgb(46, 116, 130);
    display: flex;
            justify-content: center;
            align-items: center;
}



.carta i{ 
    display: flex;
            justify-content: center;
            align-items: center;
            
}


.pasarEnProceso{
}

.icon-arrow{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}


#confirm-dialog {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-color: #080d25;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .buttonAlert {
    margin-right: 10px;
  }


  .bloqueado{

    background-color: white;
    pointer-events: none;
    cursor: default;


}

.bloqueado:focus{

    background-color: white;
    pointer-events: none;
    cursor: default;
 

}

.button-container {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.textarea-desplazable {
    pointer-events: auto;
    cursor: text;
  }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 99999; /* Asegurar que esté por encima de otros elementos */
}

#contenedorTareasPorHacer, #contenedorTareasEnProceso, #contenedorTareasHechas{
  height: 15rem !important;
  overflow-y: scroll;
  margin-bottom: 2rem;

}

/* Cambiar el color de la barra de desplazamiento */
#contenedorTareasPorHacer::-webkit-scrollbar,
#contenedorTareasEnProceso::-webkit-scrollbar,
#contenedorTareasHechas::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color:#794ad0; /* Color de fondo de la barra */
}

/* Cambiar el color del riel de la barra de desplazamiento */
#contenedorTareasPorHacer::-webkit-scrollbar-track,
#contenedorTareasEnProceso::-webkit-scrollbar-track,
#contenedorTareasHechas::-webkit-scrollbar-track {
  background-color: rgb(215, 215, 215);; /* Color de fondo del riel */
}

/* Cambiar el color del pulgar de la barra de desplazamiento */
#contenedorTareasPorHacer::-webkit-scrollbar-thumb,
#contenedorTareasEnProceso::-webkit-scrollbar-thumb,
#contenedorTareasHechas::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
}

/* Cambiar el color del pulgar al pasar el mouse sobre la barra de desplazamiento */
#contenedorTareasPorHacer::-webkit-scrollbar-thumb:hover,
#contenedorTareasEnProceso::-webkit-scrollbar-thumb:hover,
#contenedorTareasHechas::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el mouse */
}


/* ESTILOS DE INICIO*/
.inicio {
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #1b5cac;
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  border: 1px solid #1e699b; /* Color de borde gris */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-bottom: 0.6rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  
  /* Centra la tarjeta horizontalmente */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.element{
    margin-bottom: 1rem !important  ; /* Ajusta el valor según el espacio deseado */
  }


.inputGrupo{
  background-color: #237fbd;
  color: white;
  border-radius: 10px; 
  border: 1px solid #237fbd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
  
  
}

.inputGrupo:focus{
  background-color: #195c8a;
  color: white;
  border-radius: 10px; 
  border: 1px solid #237fbd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
  
}

::placeholder{
  color: white !important;
  opacity: 0.8 !important; /* Firefox */
}

::placeholder:focus{
  color: rgb(215, 215, 215) !important;
  opacity: 0.3 !important; /* Firefox */
}

.span{
  
  color: #237fbd !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.spanUser{

  color: white!important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;



}

#errorContainer{

  color: red;
}

.scroll{

  overflow-y: scroll;
  height: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;

  background-color: #124079;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);


}

.scroll::-webkit-scrollbar{

  width: 10px;
  background-color: #0a2545;
  border-radius: 15px;

}

.scroll::-webkit-scrollbar-thumb{

  background-color: #237fbd;
  border-radius: 15px;

}

.scroll::-webkit-scrollbar-thumb:hover{

  background-color: #195c8a;
  border-radius: 15px;

}

.scroll::-webkit-scrollbar-track{

  background-color: #0a2545;
  border-radius: 15px;

}

.scroll::-webkit-scrollbar-track:hover{

  background-color: #0a2545;
  border-radius: 15px;

}


.inputUsuario{
  background-color: #62439b;
  color: white;
  border-radius: 10px; 
  border: 1px solid #62439b; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
  
  
}

.inputUsuario:focus{
  background-color: #794ad0 !important;
  color: white;
  border-radius: 10px; 
  border: 1px solid #237fbd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
  
}

.inputUsuario::-webkit-autofill{

  background-color: #794ad0 !important;
  color: white;
  border-radius: 10px; 
  border: 1px solid #237fbd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;


}

.contUser{

  background-color: #412c67; 
  height: 2rem; 
  border-radius: 10px;
}

